<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>HBuilder Integrate</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon80</string>
				<string>icon58</string>
				<string>icon29</string>
				<string>icon120</string>
				<string>icon114</string>
				<string>icon57</string>
				<string>icon87</string>
				<string>icon180</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1101318457</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb801494298</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>alixpay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alixpayhbilderhello</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxbe7f03382358338d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3721101999</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10600</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tencentweiboSdkv2</string>
		<string>weibosdk2.5</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>alipay</string>
		<string>safepay</string>
		<string>cydia</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>weibosdk</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqzone</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>hbuilder</string>
		<string>streamapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MiSDKAppID</key>
	<string>2882303761517526143</string>
	<key>MiSDKAppKey</key>
	<string>5211752656143</string>
	<key>MiSDKRun</key>
	<string>online</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>照相机</string>
	<key>NSContactsUsageDescription</key>
	<string>通讯录</string>
	<key>NSLocationWhenInUseDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription - 2</key>
	<string>用户使用时期定位</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>访问麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>相册</string>
	<key>StatusBarBackground</key>
	<string>#FFFFFF</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeShare</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>分享到微信、微博、QQ</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>分 享</string>
			<key>UIApplicationShortcutItemType</key>
			<string>share</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Pandora/apps/HelloH5/www/sa.png</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>www.dcloud.io</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>关 于</string>
			<key>UIApplicationShortcutItemType</key>
			<string>about</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>key3</key>
				<string>value3</string>
			</dict>
		</dict>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>baidu</key>
	<dict>
		<key>appkey</key>
		<string>33sQNaF1czbLgyIgHGw9cpc1</string>
	</dict>
	<key>getui</key>
	<dict>
		<key>appid</key>
		<string>bBPiGM1VQ66mhMI3d9tG0A</string>
		<key>appkey</key>
		<string>uS09ESNrE46NQgnHmSYjL2</string>
		<key>appsecret</key>
		<string>nG809brIPr7aTF7o0VpZM1</string>
	</dict>
	<key>iFly</key>
	<dict>
		<key>appid</key>
		<string>535a0afe</string>
	</dict>
	<key>sinaweibo</key>
	<dict>
		<key>appSecret</key>
		<string>9105360610c5e4fd9a57d2a2bf7c28df</string>
		<key>appkey</key>
		<string>3721101999</string>
		<key>redirectURI</key>
		<string>http://d.m3w.cn/helloh5p/</string>
	</dict>
	<key>tencentweibo</key>
	<dict>
		<key>appSecret</key>
		<string>0b3ac9d885c09a1f45c0c08304291546</string>
		<key>appkey</key>
		<string>801494298</string>
		<key>redirectURI</key>
		<string>http://d.m3w.cn/helloh5p/</string>
	</dict>
	<key>umeng</key>
	<dict>
		<key>appkey</key>
		<string>51d6a5a856240b66f0005651</string>
	</dict>
	<key>weixinoauth</key>
	<dict>
		<key>appSecret</key>
		<string>3e4eaaefe9ab84cd9d2c1a14a5a2cc9d</string>
		<key>appid</key>
		<string>wxbe7f03382358338d</string>
	</dict>
	<key>xiaomioauth</key>
	<dict>
		<key>appid</key>
		<string>2882303761517526143</string>
		<key>appsecret</key>
		<string>RHYzhpJEut+Ijt9tGBhL3g==</string>
		<key>redirectURI</key>
		<string>http://www.dcloud.io/</string>
	</dict>
	<key>dcloud_uniplugins</key>
	<array>
		<dict>
			<key>hooksClass</key>
			<string>DCRichAlertProxy</string>
			<key>plugins</key>
			<array>
				<dict>
					<key>type</key>
					<string>moudle</string>
					<key>name</key>
					<string>DCloud-RichAlert</string>
					<key>class</key>
					<string>DCRichAlertModule</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>dcloud_uninview_background</key>
	<true/>
</dict>
</plist>
